<div class="row" matchHeight="card">
  <div class="col-md-6">
    <div class="form" matchHeight="card">
      <div class="card">
        <div class="card-header">Form Oluşturucu</div>
        <div class="card-body">
          <div class="px-3">
            <app-builder
              (submit)="build($event)"
            >
            </app-builder>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form" matchHeight="card">
      <div class="card">
        <div class="card-header">Önizleme Ekranı</div>
        <div class="card-body">
          <div class="px-3">
            <app-dynamic-reactive-form
              [items]="items"
              (submit)="submit($event)"
            >
            </app-dynamic-reactive-form>
          </div>
        </div>
        <div class="card-footer">
          {{sonuc|json}}
        </div>
      </div>
    </div>
  </div>
</div>
