/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form {
  margin: auto;
  padding: 20px;
}

.custom-control-input > input:focus ~ .custom-control-indicator {
  padding: 0.51rem;
}
